{{date}} REPORT

PublicIP: {{ip}}
Links:
{{#links}}
    {{&name}}: {{successRate}}% of {{attempts}} contained an "access-control-allow-origin" Header
{{/links}}

Reports:
{{#reports}}
-----
{{&content}}
{{/reports}}